doctype html
html(lang="en")
  head
    title Attendance Tracking System
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
    script(src="https://kit.fontawesome.com/a076d05399.js")
    link(href="/Static/Staff Course.css" rel="stylesheet")
    //- script(type="text/javascript" src="../table_script.js")
  body
    // NAvigation Bar
    nav.navbar.navbar-expand-md.sticky-top
      #navbar.container-fluid
        a.navbar-brand(href="#")
          img(src="/Static/23091b7e-c2a2-4baf-8b23-182d2168fb6a_200x200.png")
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            b
              li.nav-item
                a.nav-link(href="/adminAndStaffHomePage") Home
            b
              li.nav-item
                a.nav-link(href="#") About
            b
              li.nav-item
                a.nav-link(href="/Staff/AddStudent") Add Student
            b
              li.nav-item
                a.nav-link(href="/Admin/adminProfile")
                  button#profileBtn.btn.p-0(type="button")=userName
            b
              li.nav-item
                a.nav-link(href="/Logout") Log Out 
    // Content
    #content.row
      #sidebar(class="col-sm-2.5")
        .wrapper
          .sidebar
            ul
              li
                a(href="/adminAndStaffHomePage")
                  i.fas.fa-home
                  | Home
              li
                a(href="/Staff/Staff/Staff_Student")
                  i.fas.fa-user-graduate
                  | Students
              li
                a(href="/Staff/Staff_Course")
                  i.fas.fa-book
                  | Courses
              li
                a(href="/Staff/Staff_Atten")
                  i.fas.fa-address-book
                  | Attendance
              li
                a(href="/Staff/Staff_Report")
                  i.fas.fa-chart-line
                  | Report
              li
                a(href="#")
                  i.fas.fa-envelope
                  | Send Email
              li
                a(href="#")
                  i.fas.fa-address-book
                  | Contact
      // Whole Course List Column
      .col-xl-9.bg-light
        .mainArea
            #instruction.instruction
                details
                  summary 
                    strong Click for Instruction
                  p
                    |  Please select any one course from course list and multiple students from student list to enroll them and click below button.
            .message 
              h7.text-danger=msg
            #enrollForm.enrollForm 
                form#studentEnrollForm(action="/Staff/AddStudentToCourse" method="POST" )
                    .form-group
                        label(for='courceCode') Choose a Course :
                        select(name='courseCode')
                          each n in courses
                            option(value=n.CourseCode)=n.CourseName             
                    .form-group(style="width: auto")
                        //- #list1.dropdown-check-list(tabindex='100')
                        span.anchor(style="font-weight: bold") Select Student :
                        select.select(multiple size=10 name='studentIds' style="width:auto")
                          each student in students
                            option(value=student.ID style="padding:5px; margin:3px; border: 2px solid #6648b1")=` ${student.ID} ||  ${student.name} `
                    .form-group
                        button.addStudent(type="submit") 
                          |Enroll Students
        .row.pb-2
          footer(style="clear: both;")
            .container-fluid.padding
              #socialmedia.container-fluid
                .row.text-center
                  .col-12
                    h4 Connect to us on
                  .col-12.social
                    a(href="https://www.facebook.com/search/top?q=federation%20university%20australia")
                      i.fab.fa-facebook
                    a(href="#")
                      i.fab.fa-twitter
                    a(href="#")
                      i.fab.fa-google-plus-g
                    a(href="#")
                      i.fab.fa-instagram
                    a(href="#")
                      i.fab.fa-youtube
              #copyright.row.text-center
                #right.row-md-4
                  p.p(style="margin-bottom: 1em;")
                    | © Copyright 2020
                    br
                    a(href="first page.html") Attendance Tracking System
                    | . All Right Reserved
                .col-12
                  h5 © www.attendancetracking.com 
                  span#time
